.footer{
    background: $footer-bg;
    position: relative;
    &__social-links {
        
            transform: translate(0, -50%);
            display: flex;
            flex-direction: row;
            padding-right: 20px;
    
            a {
                padding: 10px 0;
            }
        }
        &__logo{
            img{
                width: 180px;   
            }
            
        }
}