.container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.main-title{
        font-size: 48px;
        color: $main-color-text;
        font-weight: 700;
        line-height: 64px;
        text-transform: uppercase;
}