.container{
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.main-title{
        font-size: 48px;
        color: $main-color-text;
        font-weight: 700;
        line-height: 64px;
        text-transform: uppercase;
}
.phone{
    background: url('/images/grayIcon/phone.png') no-repeat ;
    @extend %footer-icon;
    top: 5px;
}
.email{
    background: url('/images/grayIcon/mail.png') no-repeat;
    @extend %footer-icon;
    top: 6px;
}
.local{
    background: url('/images/grayIcon/geo.png') no-repeat;
    @extend %footer-icon;
    top: 2px;
}